body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.titulo {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-primary {
    background-color: coral;
    border-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.form-control {
    border-radius: 0.25rem;
}
